/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolflix-dark: rgba(15, 20, 22, 1);
    --boolflix-logo: rgba(128, 21, 32, 1);
    --boolflix-text: rgba(141, 172, 187, 1);
    --boolflix-avatar1: rgba(8, 99, 115, 1);
    --boolflix-danger: rgba(95, 14, 20, 1);
    --boolflix-limited_time: rgba(158, 183, 200, 1);
}

body {
    padding-top: 60px;
    background-color: var(--boolflix-dark);
}

/* #endregion Common */

/* #region Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--boolflix-dark);

    .app-header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: var(--boolflix-logo);
            padding: 0.2em 0.5em;
        }

        .navbar {
            padding: 0 0.5em;

            .search-text {
                padding: 0.2em;
            }

            .btn-search {
                padding: 0.2em;
                cursor: pointer;
            }
        }
    }
}

/* #endregion Header */

/* #region Main */

.app-main {

    .container {
        width: 90%;
        margin: 0 auto;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            gap: 10px;

            .card {
                width: 300px;
                height: 425px;
                color: var(--boolflix-text);
                border: 1px solid var(--boolflix-danger);

                & :hover {
                    cursor: pointer;
                    box-shadow: rgba(255, 254, 255, 0.585) 0px 2px 10px 0px;
                }

                .image,
                .card-content {
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .card-content {
                    padding: 1em;
                    display: flex;
                    flex-direction: column;

                    & ul {
                        list-style: none;
                    }
                }
            }

        }
    }
}

/* #endregion Main */